Variables:

1. Monthly returns including dividend distributions

ret

2. Share Price 

prc

3. Common Shares Outstanding 

shrout

4. Share code  

shrcd

5. CRSP permanent company identifier (Permno and or Permco) 

permco 

6. Delisting return 

dlret

7. Date 

8. CRSP value‚Äêweighted index returns

vwretd

In [104]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
import regex as re
import statsmodels.formula.api as smf

crsp = pd.read_csv('/Users/kailiao/Downloads/crsp.csv', dtype = object)

# change strings or floats to integers
for col in ['PERMNO','PERMCO']:
    crsp[col] = crsp[col].astype(int)

# change returns and prices to floats. If error, coerce to NaN
for col in ['PRC', 'RET', 'vwretd', 'SHROUT'] :
    crsp[col] = pd.to_numeric(crsp[col], errors='coerce')

# deal with negative price
crsp['PRC'] = crsp['PRC'].abs()

crsp['year']  = crsp['date'].str.slice(start=0, stop=4).astype(int)
crsp['month'] = crsp['date'].str.slice(start=4, stop=6).astype(int)
crsp['mrkcap'] = crsp['PRC'] * crsp['SHROUT']

In [105]:
periods = [1973 + i for i in np.arange(9) * 5]
periods

[1973, 1978, 1983, 1988, 1993, 1998, 2003, 2008, 2013]

In [134]:
pd.options.mode.chained_assignment = None

period= 1973
crsp_1 = crsp[(crsp['year'] < period + 3) & (crsp['year'] >= period)]

def kill_nan_ret(df):
    if df['RET'].isnull().values.any():
        df['mrkcap'] = 0
    return df

crsp_1 = crsp_1.groupby('PERMNO').apply(kill_nan_ret)

# select the largest 400 firms
largest = list(crsp_1.groupby('PERMNO').first().nlargest(n=500, columns=['mrkcap']).reset_index().PERMNO)
crsp_2 = pd.DataFrame()
for firm in largest:
    crsp_temp = crsp_1[crsp_1['PERMNO'] == firm]
    model = smf.ols("RET ~ vwretd", data=crsp_temp)
    result = model.fit()
    crsp_temp['beta'] = result.params.vwretd
    crsp_2 = pd.concat([crsp_2, crsp_temp])

crsp_2 = crsp_2.merge(crsp_2.groupby('PERMNO').first().beta.rank().reset_index(), on='PERMNO')
crsp_2 = crsp_2.rename(columns={"beta_x" : "beta", "beta_y" : "beta_rank"})

In [139]:
crsp_2[crsp_2['beta'] == 124]

Empty DataFrame
Columns: [PERMNO, date, SHRCD, TICKER, PERMCO, DLRET, PRC, RET, SHROUT, vwretd, year, month, mrkcap, beta, beta_rank]
Index: []

In [74]:
#import ML packages
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf

crsp_2 = crsp_1[crsp_1['PERMNO'] == 93172]
crsp_2

,PERMNO,date,SHRCD,TICKER,PERMCO,DLRET,PRC,RET,SHROUT,vwretd,year,month
4228046,93172,19730131,48,BULDS,699,NaN,-31.0625,-0.015842,2844,-0.027454,1973,1
4228047,93172,19730228,48,BULDS,699,NaN,-28.9375,-0.068410,2844,-0.044370,1973,2
4228048,93172,19730330,48,BSG,699,NaN,29.0000,0.002160,2495,-0.007857,1973,3
4228049,93172,19730430,48,BSG,699,NaN,29.0000,0.027586,2495,-0.051769,1973,4
4228050,93172,19730531,48,BSG,699,NaN,27.5000,-0.051724,2495,-0.024508,1973,5
4228051,93172,19730629,48,BSG,699,NaN,26.7500,-0.027273,2495,-0.008648,1973,6
4228052,93172,19730731,48,BSG,699,NaN,29.8750,0.150467,2495,0.056961,1973,7
4228053,93172,19730831,48,BSG,699,NaN,29.7500,-0.004184,2495,-0.029657,1973,8
4228054,93172,19730928,48,BSG,699,NaN,31.6250,0.063025,2495,0.053931,1973,9
4228055,93172,19731031,48,BSG,699,NaN,32.5000,0.059921,2495,-0.000415,1973,10
4228056,93172,19731130,48,BSG,699,NaN,25.6250,-0.195231,2495,-0.120713,1973,11
4228057,93172,19731231,48,BSG,699,NaN,23.6250,-0.078049,2495,0.011437,1973,12
4228058,93172,19740131,48,BSG,699,NaN,23.8750,0.033016,2495,0.004413,1974,1
4228059,93172,19740228,48,BSG,699,NaN,25.6250,0.073298,2495,0.002345,1974,2
4228060,93172,19740329,48,BSG,699,NaN,21.2500,-0.170732,2495,-0.023364,1974,3
4228061,93172,19740430,48,BSG,699,NaN,16.8750,-0.155529,2495,-0.045961,1974,4
4228062,93172,19740531,48,BSG,699,NaN,13.0000,-0.229630,2495,-0.041981,1974,5
4228063,93172,19740628,48,BSG,699,NaN,10.7500,-0.173077,2495,-0.022942,1974,6
4228064,93172,19740731,48,BSG,699,NaN,8.7500,-0.186047,2495,-0.070874,1974,7
4228065,93172,19740830,48,BSG,699,NaN,5.5000,-0.371429,2495,-0.087757,1974,8
4228066,93172,19740930,48,BSG,699,NaN,5.0000,-0.090909,2495,-0.109718,1974,9
4228067,93172,19741031,48,BSG,699,NaN,3.1250,-0.375000,2495,0.165584,1974,10
4228068,93172,19741129,48,BSG,699,NaN,2.6250,-0.160000,2929,-0.041046,1974,11
4228069,93172,19741231,48,BSG,699,NaN,1.7500,-0.333333,2929,-0.027005,1974,12
4228070,93172,19750131,48,NaN,699,NaN,NaN,NaN,2929,0.141600,1975,1
4228071,93172,19750228,48,NaN,699,NaN,NaN,NaN,2929,0.058412,1975,2
4228072,93172,19750331,48,NaN,699,NaN,NaN,NaN,2929,0.030190,1975,3
4228073,93172,19750430,48,NaN,699,NaN,NaN,NaN,2929,0.046497,1975,4
4228074,93172,19750530,48,NaN,699,NaN,NaN,NaN,2929,0.055140,1975,5
4228075,93172,19750630,48,NaN,699,NaN,NaN,NaN,2929,0.051473,1975,6
4228076,93172,19750731,48,NaN,699,NaN,NaN,NaN,2929,-0.060385,1975,7
4228077,93172,19750829,48,NaN,699,NaN,NaN,NaN,2929,-0.023558,1975,8
4228078,93172,19750930,48,NaN,699,NaN,NaN,NaN,2929,-0.038010,1975,9
4228079,93172,19751031,48,NaN,699,NaN,NaN,NaN,2929,0.055857,1975,10
4228080,93172,19751128,48,NaN,699,NaN,NaN,NaN,2929,0.031222,1975,11
4228081,93172,19751231,48,NaN,699,NaN,NaN,NaN,2929,-0.010998,1975,12

In [ ]:
y = crsp_2[['RET']].values
X = crsp_2[['vwretd']].values
LinearRegression().fit(X, y)

In [16]:
np.arange(9) * 5

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40])

In [13]:
import numpy as np
import pandas as pd
import wrds       
conn = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
Loading library list...
Done

In [14]:
crsp = conn.raw_sql(
    """
    select *
    from crsp.msf a inner join crsp.msenames b
    on a.permno=b.permno and a.date between b.namedt and b.nameendt
    and b.exchcd in (1,2,3) and b.shrcd in (10,11)
    where a.date >= '2000-01-01'
    order by a.permno, a.date
    """,
date_cols=['date']
)

# change strings or floats to integers
for col in ['permno','permco']:
    crsp[col] = crsp[col].astype(int)

# define market equity as sum of market equities of all permnos associated with a permco
crsp['me'] = crsp.groupby(['date','permco']).me.transform(sum)

ValueError: Grouper for 'permco' not 1-dimensional

In [8]:
crsp = conn.raw_sql(
    """
    select a.permno, a.permco, a.date, a.ret, abs(a.prc)*a.shrout as me, a.vwretd, b.exchcd
    from crsp.msf a inner join crsp.msenames b
    on a.permno=b.permno and a.date between b.namedt and b.nameendt
    and b.exchcd in (1,2,3) and b.shrcd in (10,11)
    where a.date >= '2000-01-01'
    order by a.permno, a.date
    """,
date_cols=['date']
)

# change strings or floats to integers
for col in ['permno','permco']:
    crsp[col] = crsp[col].astype(int)

# define market equity as sum of market equities of all permnos associated with a permco
crsp['me'] = crsp.groupby(['date','permco']).me.transform(sum)

StatementError: (builtins.AttributeError) 'NoneType' object has no attribute 'cursor'
[SQL:
    select a.permno, a.permco, a.date, a.ret, abs(a.prc)*a.shrout as me, a.vwretd, b.exchcd
    from crsp.msf a inner join crsp.msenames b
    on a.permno=b.permno and a.date between b.namedt and b.nameendt
    and b.exchcd in (1,2,3) and b.shrcd in (10,11)
    where a.date >= '2000-01-01'
    order by a.permno, a.date
    ]